<?xml version="1.0" encoding="UTF-8"?>

<bean:beans
	xmlns:bean="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/security
			http://www.springframework.org/schema/security/spring-security.xsd">
	<http auto-config="true">
		<intercept-url pattern="/" access="permitAll" />
		<intercept-url pattern="/crearOficina" access="hasAnyAuthority('ADMIN', 'USER')" />
		<intercept-url pattern="/editarOficina" access="hasAnyAuthority('ADMIN')" />
		<intercept-url pattern="/oficinas/deleteOficina/*" access="hasAnyAuthority('ADMIN')" />
		<intercept-url pattern="/contactoLista" access="hasAnyAuthority('ADMIN')" />

		<form-login login-page="/login"
			authentication-failure-url="/error" username-parameter="username"
			password-parameter="password" />
		<csrf disabled="true" />
		<logout logout-success-url="/login" />

	</http>

	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="bcrypt" />

			<jdbc-user-service data-source-ref="ds"
				users-by-username-query="select usuario as username, password, 1 as enabled from access where usuario = ?"
				authorities-by-username-query="select usuario as username, rol as authority from access where usuario = ?" />

			<!-- <user-service> <user name="dan" authorities="ADMIN" password="$2a$10$cf9XhR8wv0unO.G60W1tROBbDdO.pn9nqAcZBLX2rMvu7R8q0WDHS"/> 
				</user-service> -->
		</authentication-provider>
	</authentication-manager>

</bean:beans>